:root {
  --text-size-large: 26px;
  --text-size-medium: 18px;
  --text-size-small: 14px;
  --highlight-color: #0D47C7;
}

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: var(--text-size-medium);
  background-color: #fafafa;
  margin: 0;
}

main {
  display: none;
}

a {
  color: #00B7FF;
}

strong {
  font-size: 70px;
}

body>* {
  text-align: center;
}

input[type='text'] {
  display: block;
  background: transparent;
  width: 100%;
  padding: 28px 34px;
  border: 1px solid rgba(18, 19, 20, 0.16);
  border-radius: 4px;
  background-color: #f7f8fa;
  box-shadow: inset 0 1px 3px 0 rgba(18, 19, 20, 0.08);
  outline: none;
  transition: border-color .3s;
  box-sizing: border-box;
}

input:focus {
  border-color: var(--highlight-color);
}

label {
  font-size: var(--text-size-medium);
}

ul#dropdown {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  box-shadow: 0 0 10px #b8b8b8;
  background-color: white;
  border-radius: 10px;
  border: 1px solid none;
}

ul li {
  margin-top: 2px;
  padding: 15px;
  font-size: var(--text-size-small);
  display: block;
  cursor: pointer;
  transition: background-color .3s;
}

ul li:hover:not(.header) {
  background-color: #f0f0f0;
}

.back {
  background-color: var(--highlight-color);
  width: 66%;
  margin: 20px auto;
  line-height: 50px;
  border-radius: 50px;
  border: 2px solid var(--highlight-color);
  cursor: pointer;
  box-shadow: 0 5px 10px #b7b7b7;
}

#search {
  font-size: var(--text-size-medium);
  height: 32px;
  /*animation-duration: 0.5s;*/
}

#back-it-text {
  font-size: var(--text-size-large);
  color: #eee;
}

#result {
  margin-top: -30px;
  color: var(--highlight-color);
}

h1#title {
  color: var(--highlight-color);
  margin-bottom: 3rem;
}

header {
  display: flex;
  justify-content: center;
}

#landing-container {
  max-width: 440px;
  width: 100%;

  margin-top: 10%;
}

.header-logo {
  color: var(--highlight-color);
  font-size: 55px;
  margin-bottom: 1rem;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.range-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.range-container label,
.range-container input,
.range-container i {
  margin-bottom: 1rem;
}

ul.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}

ul.buttons > li.active {
  color: white;
  background-color: var(--highlight-color);
}

ul.buttons > li,
ul.back-options > li {
  margin: 0 10px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid var(--highlight-color);
  font-weight: 600;
  color: var(--highlight-color);
}

ul.back-options {
  display: block;
  margin: 0;
  padding: 0;
}

ul.back-options > li { 
  margin: 10px 10px;
}

/* Input range */

input[type='range'],
input[type='range']:focus,
input[type='range']:active,
input[type='range']::-moz-focus-inner,
input[type='range']:-moz-focusring {
  border: 0;
  outline: none;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px silver, 0px 0px 1px silver;
  background: white;
  border-radius: 5px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid var(--highlight-color);
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: var(--highlight-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: white;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px silver, 0px 0px 1px silver;
  background: white;
  border-radius: 5px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid var(--highlight-color);
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: var(--highlight-color);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: white;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: white;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  border: 1px solid var(--highlight-color);
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: var(--highlight-color);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: white;
}
input[type=range]:focus::-ms-fill-upper {
  background: white;
}

/* Media queries*/

@media only screen and (min-width: 767px) {
  #landing-container {
    margin-top: 5%;
  }

  main {
    margin-left: 30%;
    margin-right: 30%; 
  }
}

@media only screen and (max-width: 767px) {
  main {
    margin-left: 5%;
    margin-right: 5%; 
  }
}
